<?xml version="1.0"?>
<launch>

<arg name="robot_name" default="/robot0/sandwich_0" />

<group ns="$(arg robot_name)">
  <arg name="launch_prefix" default="" /> <!-- set to value="gdbserver localhost:10000" for remote debugging -->
  <arg name="node_namespace" default="apriltag_ros_continuous_node_right_front" />
  <arg name="camera_name" default="sensors/cameras/front_right_camera" />
  <arg name="image_topic" default="image_rect" />

  <!-- Set parameters -->
  <rosparam command="load" file="$(find optical_swarm)/config/settings.yaml" ns="$(arg node_namespace)" />
  <rosparam command="load" file="$(find optical_swarm)/config/tags.yaml" ns="$(arg node_namespace)" />
  
  
  <node pkg="image_proc" type="image_proc" name="image_proc"
       ns="$(arg camera_name)" >
  </node> 
     
     
  <node pkg="apriltag_ros" type="apriltag_ros_continuous_node" name="$(arg node_namespace)" output="screen" launch-prefix="$(arg launch_prefix)" >
    <!-- Remap topics from those used in code to those on the ROS network -->
    <remap from="image_rect" to="$(arg camera_name)/$(arg image_topic)" />
    <remap from="camera_info" to="$(arg camera_name)/camera_info" />
    <remap from="tag_detections" to="$(arg camera_name)/tag_detections" />
    <remap from="tag_detections_image" to="$(arg camera_name)/tag_detections_image" />
    <param name="publish_tag_detections_image" type="bool" value="false" />      <!-- default: false -->
    <param name="remove_duplicates" type="bool" value="false" />
  </node>
</group>

<group ns="$(arg robot_name)">
  <arg name="launch_prefix" default="" /> <!-- set to value="gdbserver localhost:10000" for remote debugging -->
  <arg name="node_namespace" default="apriltag_ros_continuous_node_left_front" />
  <arg name="camera_name" default="sensors/cameras/front_left_camera" />
  <arg name="image_topic" default="image_rect" />

  <!-- Set parameters -->
  <rosparam command="load" file="$(find optical_swarm)/config/settings.yaml" ns="$(arg node_namespace)" />
  <rosparam command="load" file="$(find optical_swarm)/config/tags.yaml" ns="$(arg node_namespace)" />
  
  
  <node pkg="image_proc" type="image_proc" name="image_proc"
       ns="$(arg camera_name)" >
  </node> 
     
     
  <node pkg="apriltag_ros" type="apriltag_ros_continuous_node" name="$(arg node_namespace)" output="screen" launch-prefix="$(arg launch_prefix)" >
    <!-- Remap topics from those used in code to those on the ROS network -->
    <remap from="image_rect" to="$(arg camera_name)/$(arg image_topic)" />
    <remap from="camera_info" to="$(arg camera_name)/camera_info" />
    <remap from="tag_detections" to="$(arg camera_name)/tag_detections" />
    <remap from="tag_detections_image" to="$(arg camera_name)/tag_detections_image" />
    <param name="publish_tag_detections_image" type="bool" value="false" />      <!-- default: false -->
    <param name="remove_duplicates" type="bool" value="false" />
  </node>
</group>
  
 <group ns="$(arg robot_name)">
  <arg name="launch_prefix" default="" /> <!-- set to value="gdbserver localhost:10000" for remote debugging -->
  <arg name="node_namespace" default="apriltag_ros_continuous_node_right_side" />
  <arg name="camera_name" default="sensors/cameras/side_right_camera" />
  <arg name="image_topic" default="image_rect" />

  <!-- Set parameters -->
  <rosparam command="load" file="$(find optical_swarm)/config/settings.yaml" ns="$(arg node_namespace)" />
  <rosparam command="load" file="$(find optical_swarm)/config/tags.yaml" ns="$(arg node_namespace)" />
  
  
  <node pkg="image_proc" type="image_proc" name="image_proc"
       ns="$(arg camera_name)" >
  </node> 
     
     
  <node pkg="apriltag_ros" type="apriltag_ros_continuous_node" name="$(arg node_namespace)" output="screen" launch-prefix="$(arg launch_prefix)" >
    <!-- Remap topics from those used in code to those on the ROS network -->
    <remap from="image_rect" to="$(arg camera_name)/$(arg image_topic)" />
    <remap from="camera_info" to="$(arg camera_name)/camera_info" />
    <remap from="tag_detections" to="$(arg camera_name)/tag_detections" />
    <remap from="tag_detections_image" to="$(arg camera_name)/tag_detections_image" />
    <param name="publish_tag_detections_image" type="bool" value="false" />      <!-- default: false -->
    <param name="remove_duplicates" type="bool" value="false" />
  </node>
</group> 
  
<group ns="$(arg robot_name)">
  <arg name="launch_prefix" default="" /> <!-- set to value="gdbserver localhost:10000" for remote debugging -->
  <arg name="node_namespace" default="apriltag_ros_continuous_node_left_side" />
  <arg name="camera_name" default="sensors/cameras/side_left_camera" />
  <arg name="image_topic" default="image_rect" />

  <!-- Set parameters -->
  <rosparam command="load" file="$(find optical_swarm)/config/settings.yaml" ns="$(arg node_namespace)" />
  <rosparam command="load" file="$(find optical_swarm)/config/tags.yaml" ns="$(arg node_namespace)" />
  
  
  <node pkg="image_proc" type="image_proc" name="image_proc"
       ns="$(arg camera_name)" >
  </node> 
     
     
  <node pkg="apriltag_ros" type="apriltag_ros_continuous_node" name="$(arg node_namespace)" output="screen" launch-prefix="$(arg launch_prefix)" >
    <!-- Remap topics from those used in code to those on the ROS network -->
    <remap from="image_rect" to="$(arg camera_name)/$(arg image_topic)" />
    <remap from="camera_info" to="$(arg camera_name)/camera_info" />
    <remap from="tag_detections" to="$(arg camera_name)/tag_detections" />
    <remap from="tag_detections_image" to="$(arg camera_name)/tag_detections_image" />
    <param name="publish_tag_detections_image" type="bool" value="false" />      <!-- default: false -->
    <param name="remove_duplicates" type="bool" value="false" />
  </node>
</group>
  
<group ns="$(arg robot_name)">
  <arg name="launch_prefix" default="" /> <!-- set to value="gdbserver localhost:10000" for remote debugging -->
  <arg name="node_namespace" default="apriltag_ros_continuous_node_left_rear" />
  <arg name="camera_name" default="sensors/cameras/rear_left_camera" />
  <arg name="image_topic" default="image_rect" />

  <!-- Set parameters -->
  <rosparam command="load" file="$(find optical_swarm)/config/settings.yaml" ns="$(arg node_namespace)" />
  <rosparam command="load" file="$(find optical_swarm)/config/tags.yaml" ns="$(arg node_namespace)" />
  
  
  <node pkg="image_proc" type="image_proc" name="image_proc"
       ns="$(arg camera_name)" >
  </node> 
     
     
  <node pkg="apriltag_ros" type="apriltag_ros_continuous_node" name="$(arg node_namespace)" output="screen" launch-prefix="$(arg launch_prefix)" >
    <!-- Remap topics from those used in code to those on the ROS network -->
    <remap from="image_rect" to="$(arg camera_name)/$(arg image_topic)" />
    <remap from="camera_info" to="$(arg camera_name)/camera_info" />
    <remap from="tag_detections" to="$(arg camera_name)/tag_detections" />
    <remap from="tag_detections_image" to="$(arg camera_name)/tag_detections_image" />
    <param name="publish_tag_detections_image" type="bool" value="false" />      <!-- default: false -->
    <param name="remove_duplicates" type="bool" value="false" />
  </node>
</group>

<group ns="$(arg robot_name)">
  <arg name="launch_prefix" default="" /> <!-- set to value="gdbserver localhost:10000" for remote debugging -->
  <arg name="node_namespace" default="apriltag_ros_continuous_node_right_rear" />
  <arg name="camera_name" default="sensors/cameras/rear_right_camera" />
  <arg name="image_topic" default="image_rect" />

  <!-- Set parameters -->
  <rosparam command="load" file="$(find optical_swarm)/config/settings.yaml" ns="$(arg node_namespace)" />
  <rosparam command="load" file="$(find optical_swarm)/config/tags.yaml" ns="$(arg node_namespace)" />
  
  
  <node pkg="image_proc" type="image_proc" name="image_proc"
       ns="$(arg camera_name)" >
  </node> 
     
     
  <node pkg="apriltag_ros" type="apriltag_ros_continuous_node" name="$(arg node_namespace)" output="screen" launch-prefix="$(arg launch_prefix)" >
    <!-- Remap topics from those used in code to those on the ROS network -->
    <remap from="image_rect" to="$(arg camera_name)/$(arg image_topic)" />
    <remap from="camera_info" to="$(arg camera_name)/camera_info" />
    <remap from="tag_detections" to="$(arg camera_name)/tag_detections" />
    <remap from="tag_detections_image" to="$(arg camera_name)/tag_detections_image" />
    <param name="publish_tag_detections_image" type="bool" value="false" />      <!-- default: false -->
    <param name="remove_duplicates" type="bool" value="false" />
  </node>
</group>


</launch>
