<?xml version="1.0"?>
<launch>
  <!-- Gazebo world to load -->
  <arg name="world" default="$(find vrx_gazebo)/worlds/sydneyregatta.world" />
  <!-- If true, run gazebo GUI -->
  <arg name="gui" default="true" />
  <!-- If true, run gazebo in verbose mode -->
  <arg name="verbose" default="false"/>
  <!-- If true, start in paused state -->
  <arg name="paused"  default="false"/>
  <!-- Start in a default namespace -->
  <arg name="namespace" default="sandwich_0"/>
  <!-- Set robot name for group model -->
  <arg name="robot_name" default="sandwich_0"/>
  <!-- Lock robot in place on start -->
  <arg name="robot_locked" default="false" />
  <!-- Control robot with joystick -->
  <arg name="joy" default="true"/>
  

  <!-- Start Gazebo with the world file -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name"   value="$(arg world)"/>
    <arg name="verbose"      value="$(arg verbose)"/>
    <arg name="paused"       value="$(arg paused)"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui"          value="$(arg gui)" />
  </include>

 <group ns="robot0">
    <include file="$(find optical_swarm)/launch/sandwich_multi.launch">
      <arg name="x" value="-532"/>
      <arg name="y" value="162"/>
      <arg name="z" value="0"/>
      <arg name="P" value="0"/>
      <arg name="R" value="0"/>
      <arg name="Y" value="1"/>
      <arg name="robot_locked" value="false"/>
      <arg name="namespace" value="sandwich_0"/>
      <arg name="robot_name" value="sandwich_0"/>
      <arg name="front_ID" value="00"/>
      <arg name="back_ID" value="01"/>
      <arg name="left_ID" value="02"/>
      <arg name="right_ID" value="03"/>
     </include>
     <node pkg="robot_state_publisher" type="robot_state_publisher"
	  name="robot_state_publisher" > 
	  <remap from="robot_description" to="/robot0/sandwich_0/robot_description" />     
     </node>
         
  </group>



  <group ns="robot1">
    <include file="$(find optical_swarm)/launch/sandwich_multi.launch">
      <arg name="x" value="-542"/>
      <arg name="y" value="165"/>
      <arg name="z" value="0"/>
      <arg name="P" value="0"/>
      <arg name="R" value="0"/>
      <arg name="Y" value="1"/>
      <arg name="robot_locked" value="false"/>
      <arg name="namespace" value="sandwich_1"/>
      <arg name="robot_name" value="sandwich_1"/>
      <arg name="front_ID" value="10"/>
      <arg name="back_ID" value="11"/>
      <arg name="left_ID" value="12"/>
      <arg name="right_ID" value="13"/>

    </include>
    <node pkg="robot_state_publisher" type="robot_state_publisher"
	  name="robot_state_publisher" >
	  <remap from="robot_description" to="/robot1/sandwich_1/robot_description" />
    </node>
    
  </group>
  
  <group ns="robot2">
    <include file="$(find optical_swarm)/launch/sandwich_multi.launch">
      <arg name="x" value="-552"/>
      <arg name="y" value="168"/>
      <arg name="z" value="0"/>
      <arg name="P" value="0"/>
      <arg name="R" value="0"/>
      <arg name="Y" value="1"/>
      <arg name="robot_locked" value="false"/>
      <arg name="namespace" value="sandwich_2"/>
      <arg name="robot_name" value="sandwich_2"/>
      <arg name="front_ID" value="20"/>
      <arg name="back_ID" value="21"/>
      <arg name="left_ID" value="22"/>
      <arg name="right_ID" value="23"/>

    </include>
    <node pkg="robot_state_publisher" type="robot_state_publisher"
	  name="robot_state_publisher" >
	  <remap from="robot_description" to="/robot2/sandwich_2/robot_description" />
    </node>
    
  </group>
  
        <!-- Image Processing and Tag Detection Nodes -->
  <include file="$(find optical_swarm)/launch/detection_trial.launch">
    <arg name="robot_name"   value="/robot1/sandwich_1"/>
  </include>
        
  <include file="$(find optical_swarm)/launch/detection_trial.launch">
  </include>
  
  <include file="$(find optical_swarm)/launch/detection_trial.launch">
    <arg name="robot_name"   value="/robot2/sandwich_2"/>
  </include>         
        
       <!-- Rabbit Visualization:Spawn a visual model to serve as marker -->
  <group ns="april_cube">     
  <param name="april_description" 
         command="$(find xacro)/xacro --inorder $(find optical_swarm)/urdf/april_cube_demo.xacro" />
     
        
  <node name="spawn_rabbit" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -param april_description -x -480 -y 182 -z 1 -R 0 -P 0 -Y 0 -model april_cube"/>
              
              <!-- Convert PointStamped messages to model states -->
  <node name="pointstamped2modelstate" pkg="optical_swarm"
	type="pointstamped2modelstate.py" output="screen">
    <param name="model_name" value="april_cube"/>
    <param name="reference_frame" value="world"/>
  </node>
  
  <node pkg="optical_swarm" type="rabbit.py" name="april_cube">
    <param name="update_rate" type="double" value="10"/>
    <param name="velocity" type="double" value="3"/>
    <rosparam file="$(find optical_swarm)/config/rabbit_waypoints_sydney.yaml" />
    
  </node>  
  <node pkg="robot_state_publisher" type="robot_state_publisher"
	  name="robot_state_publisher" >
	  <remap from="robot_description" to="april_description" />
    </node>
  </group>
  
        
  <!-- Start RVIZ with config file -->
  <!--node type="rviz" name="rviz" pkg="rviz"
	args="-d $(find optical_swarm)/config/sandwich.rviz" /-->
              
</launch>


